

h3.cl{
    background-color: orange;
    border: solid rgb(29, 0, 29);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    text-align: center;
}
main{
    text-align: center;
}
p.doc{
    font-weight: bold;
    
}
p.Docu{
    font-weight: bold;

}
p.FN{
    font-weight: bold;
    
}
input.fecha{
    width: 205px;
    height: 35px;
    
}
p.rec{
    border-radius: 200px;
    border: solid;
    background-color: white;
    font-weight: bold;
    
}
input.enviar{
    width: 205px;
    background-color: orange;
    border: solid rgb(32, 0, 32);
    font-weight: bold;
}
a.dnie{
    color: orangered;
    font-weight: bold;
}
a.secur{
    color: orangered;
    font-weight: bold;
}
section.dnii{
    position: relative;
    right: 70px;
    
}
h3.crusu{
    background-color: orange;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid black;
}
h2.EN{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid orange;
}
p.regs{
    font-size: smaller;
}
p.email2{
    font-weight: bold;
    
}
p.tlf{
    font-weight: bold;
    
}
p.cntras{
    font-weight: bold;
    
}
p.confirm{
    font-weight: bold;

}
a.priv{
    color: orangered;
    font-weight: bold;
}
p.flecha1{
    font-weight: bold;
    border: solid;
}
input.cuentaa{
    border: solid;
    color: black;
    background-color:  orange;
}